*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'nasalization';
  
    src: url('/fonts/nasalization/nasalization-rg.woff');
}

body{
    height: auto;
    background: linear-gradient(142deg, #023f78 0%, #010516 100%);
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;

    background-image: url(../img/fond-space.webp);

}

a{
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.logo{
    display: flex;
    margin: 25vh auto 0 auto;
    width: 438px;
    align-items: center;
}

.logo_petit{
    display: flex;
    margin: 5vh auto 0 auto;
    width: 145px;
    align-items: center;
}

.btn-commencer{
    /* background-color: red; */
    padding:10px 15px;
    border-radius: 8px;
    box-shadow: inset 0px -5px 19px -12px #CB90EF, inset 0px 4px 18px -8px #90E0EF, inset 0px 1px 40px -4px #625E74;
    
    width: auto;
}

.Commencer{
    display: flex;
    margin-top: x;
    justify-content: center;
}

.Commencer a{
    font-size: 35px;
}

.code{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

.texte_code{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.date{
    font-family: "nasalization";
    font-size: 50px;
}


h1{
    font-family: "nasalization";
    font-size: 1.5rem;
    margin-top: 6vh;
    text-align: center;
}

p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin: 2vh 8%;
    text-align: center;
}


.content_reponse{
    /* border: solid 5px red; */
    display: flex;
    margin-top: 10vh;
    justify-content: center;
}

.reponse{

    border: solid 1.5px rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 12px;
    margin: 20px 10px;

    text-align: center;
    width: 30vw;
    height: auto;

    box-shadow: inset 0px -5px 19px -12px #CB90EF, inset 0px 4px 18px -8px #90E0EF, inset 0px 1px 40px -4px #625E74;

    backdrop-filter: blur(100px);
}

figure{
    display: none;
}

